[alias]
	ch  = checkout
	chb = !git ch -b
	cht = !git ch -t
	br  = branch
	brm = !git br -D
	bmv = !git br -M
	ci  = commit
	cim = commit -m
	can = !git ci --amend --no-edit
	st  = status
	sts = !git st --short
  stu = !git sts --untracked-files
	ss  = !git sts
  lg  = log --name-status
  lgs = !git lg
	lgn = log --name-only
	cl  = clean
	cla = !git cl -dfx
	rt  = reset
  rth = !git rt --hard
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[core]
	editor = vim
[include]
	path = ~/.gitconfig.user
